*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: url(../images/paper_text.png);
    height: 5000px;

}
.dropWrapper{
    border:1px solid #ddd;
    padding: 50px;
    box-shadow: inset 0px 0px 20px 15px rgba(0,0,0,0.2)
}
.drop{
    padding: 50px;
    border:1px dashed brown;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 2em;
    color:rgba(107,90,90,0.815)
}
.drop i{
    opacity: 0;
}
.active i{
    opacity: 1;
    font-size: 1.5em;
    visibility: visible;
    font-weight: bold;
    cursor: pointer;
    animation: moveArrow .5s infinite;
}
#mainTable thead{
    background: red;
    color:#fff;
}

.active .drop{
    background: rgba(130,241,130,0.5)
}
.active p{
    pointer-events: none;
    transition: all .3s ease-in-out;
    transform: translateY(-50px)
}
 

@keyframes moveArrow{
    from{
        transform: translateY(-20px)
    }to{
        transform: translateY(20)
    }
}